.products-list-class{
    margin-top: 50px;
    width:500px;
}
.each-user-class{
    width:290px;
    height: 150px;
    text-decoration: none;
    a{
        text-decoration: none;
    }
    margin: 20px;
}
